:root {
    --core: rgb(255,0,0);
    --grey: #1c1c1c;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    margin: 0;
}

.corpo {
    background-color: var(--grey);
}

.logo {
    width: auto;
    padding-top: 10px;
    
    a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 25px;
        margin-left: 10px;
    }
}
    
.header {
    background: black;
    padding: 10px;
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 100;
        
    .navbar {
        margin-left: 50px;
        margin-bottom: 20px;
        margin-top: 15px;
    
        a {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-decoration: none;
            color: white;
            background-color: rgb(0, 0, 0);
    
        }
    }
}
    
.titulo {
    color: white;
}

.maintitle {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: grey;
    transition: 0.5s;
}

.txt {
    text-align: justify;
    padding-right: 30px;
}

ol {
    margin-left: 40px;
}
  
.ptxt {
    text-indent: 25px;
    font-size: 17.3px;
}
  
a {
    text-decoration: none;
    color: white;
}
  
.topico {
    color: gray;
    font-size: 30px;
    
}

.topico2 {
    color: green;
}

.topico3 {
    color: blueviolet;
}

.topico4 {
    color: red;
}

.topico5 {
    color: yellow;
}

.topico6 {
    color: rgb(0, 255, 242);
}

.coluna {
    padding: 10px;
    float: left;
    
    .coluna.main {
        width: auto;
    }

    .coluna.meio {
        width: auto;
    }

    .coluna.direita {
        width: auto;
    }

}

.timeline {
    height: 1500px;
    width: 170px;
}

.datas {
    background-color: var(--grey);
    width: 100px;
}

.texto {
    width: 700px;
    background-color: rgba(121, 121, 83, 0);
    height: 1500px;
    margin-left: 20px;
    color: white;
}
  
.infomat {
    color: wheat;
    margin-left: 100px;
}

.row {
    display: flex; 
}

.gallery {
    margin-left: -60px;
    margin-top: 75px;
}

.ft {
    width: 350px;
    height: 200px;
    margin: 20px;
    transition: all 1s ease; 
}

.ft:hover {
    transform: scale(1.2);
    z-index: 500;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.904);
}


.ft-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &:hover {
        height: auto;
    }

}

.labelu {
    width: 331px;
    height: auto;
    max-height: 250px;
    color: #fff;
    background-color: #060608;
    padding: 10px;
    border-radius: 0px;
    position: absolute;
    top: 90%;
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-in-out;
}

.some {
    width: 100%;
    font-weight: 600;
    font-size: 10pt;
    padding-right: 15px;
    transition: all 0.8s ease-in-out;
    text-align: justify;
}

.ft-main:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.15);
}

#arquimedes:hover {
    transform: translateY(-70px);
}

#arquimedes:hover > .ft-main:hover div#lbl1 {
    transform: translateY(-30px);
    display: block;
    opacity: 1;
}

#arquimedes {
    margin-top: -35px;
}

#fibonacci:hover {
    transform: translateY(-70px);
}

#fibonacci:hover > .ft-main:hover div#lbl2 {
    transform: translateY(-30px);
    display: block;
    opacity: 1;
}

#fibonacci {
    margin-top: 100px;
}

#gerolamo:hover {
    transform: translateY(-70px);
}

#gerolamo:hover > .ft-main:hover div#lbl3 {
    transform: translateY(-30px);
    display: block;
    opacity: 1;
}

#gerolamo {
    margin-top: 110px;
}

#davinci:hover {
    transform: translateY(-70px);
}

#davinci:hover > .ft-main:hover div#lbl4 {
    transform: translateY(-30px);
    display: block;
    opacity: 1;
}

#davinci {
    margin-top: 100px;
}

#napier:hover {
    transform: translateY(-70px);
}

#napier:hover > .ft-main:hover div#lbl5 {
    transform: translateY(-30px);
    display: block;
    opacity: 1;
}

#napier  {
    margin-top: 100px;
}

.colunarodape {
    float: left;
    padding: 15px;

    .colunarodape.esquerda {
        float: left;
    }

    .colunarodape.direita {
        float: right;
    }

    .rowrodape:after {
        content: "";
        display: table;
        clear: both;
    }
}

.rodape {
    background-color: #000000;
    height: 470px;
    margin: 0;
}

.contato {
    background-color: rgba(44, 44, 21, 0);
    height: 300px;
    color: white;
    font-size: small;
}

h2 {
    font-size: 2em;
}
  
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}
  
input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
.mensagem {
    height: 100px;
}
  
input[type="submit"] {
    background-color: #c9c9c9;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}
  
.gamb {
    color: rgba(63, 63, 39, 0);
}
  
.info {
    background-color: rgba(255, 255, 0, 0);
    color: white;
    padding-left: 50px;
    height: 300px;
    padding-top: 100px;
}
  
.vav {
    float: right;
}

  
.footer {
    background: black;
    padding: 10px;
    height: 60px;
    margin-left: -15px;
    margin-bottom: 0;

    .navbarfim {
        margin-bottom: 20px;
        margin-top: 15px;

        a {
            padding-left: 45px;
            padding-right: 45px;
            padding-top: 15px;
            padding-bottom: 5px;
            margin-top: 20px;
            margin-bottom: 25px;
            text-decoration: none;
            color: white;
            background-color: rgb(0, 0, 0);
            font-size: 25px;  

        }
    }
}


